.about-container {
  padding: 0px 250px;
  position: relative;
  margin-bottom: 50px;

  @media (max-width: 530px) {
    height: auto;
  }
}

.about-title {
  font-family: "Karla", sans-serif;
  color: white;
  font-size: 30px;
  margin-bottom: 60px;
  text-align: center;
}

.about-subheader {
  text-align: center;
  font-family: "Karla", sans-serif;
  color: white;
  margin-bottom: 60px;
}

.about-content {
  font-family: "Karla", sans-serif;
  color: white;
  /* text-align: center;   */
  padding: 0px 10px;

  @media (min-width: 1050px) {
    padding: 0px 210px;
    text-align: justify;
  }
}

/* @keyframes turn {
    from { transform: rotate3d(0, 0, 0, 0); }
    to { transform: rotate3d(1, 1, 0, 360deg); }
  }

.cube {
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    animation: turn 7s linear infinite;
}


.face {
    width: 200px;
    height: 200px;
    background: skyblue;
    border: 2px solid black;
    position: absolute;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 2rem;
  }

  .front {
    transform: translateZ(100px);
  }

  .back {
    transform: translateZ(-100px) rotateY(180deg);
  }

  .left {
    transform: translateX(-100px) rotateY(-90deg);
  }
  
  .right {
    transform: translateX(100px) rotateY(90deg);
  }

  .top {
    transform: translateY(-100px) rotateX(90deg);
  }
  
  .bottom {
    transform: translateY(100px) rotateX(-90deg);
  } */
